@{
    ViewBag.Title = "Be global - Oswald Maskens";
}


<div class="container">
    <div class="row">
        <p class="column large-12">
            There is only <span class="one">one</span> world,<br /> so let's be a <span class="global">global</span> citizen.
        </p>
    </div>

    <ul class="small-block-grid-1 medium-block-grid-1 large-block-grid-3">
        <li>
            <h1>Hacker</h1>
            <a href="https://github.com/OzieGamma">
                <img alt="@@OzieGamma on GitHub" src="/img/github.png" />
            </a>
        </li>
        <li>
            <h1>Engineer</h1>
            <a href="https://ch.linkedin.com/pub/oswald-maskens/5a/16/a20/">
                <img alt="Oswald Maskens on LinkedIn" src="/img/in.png" />
            </a>
        </li>
        <li>
            <h1>Innovator</h1>
            <a href="https://twitter.com/OzieGamma">
                <img alt="@@OzieGamma on Twitter" src="/img/tweet.png" />
            </a>
        </li>
    </ul>
</div>