@{
    ViewBag.Title = "Be global - Oswald Maskens";
}


<ul class="container">
    <li><a class="opensource-thanks" href="http://foundation.zurb.com/">Foundation - http://foundation.zurb.com/</a></li>
    <li><a class="opensource-thanks" href="https://necolas.github.io/normalize.css/">Normalize.css - https://necolas.github.io/normalize.css/</a></li>
</ul>