@{
    ViewBag.Title = "Error - " + ViewBag.StatusCode;
}


<div class="flex-video">
    <img src="https://http.cat/@(ViewBag.StatusCode).jpg"/>
</div>

<a class="opensource-thanks" href="https://http.cat">Awesome cat statuscodes on https://http.cat</a>